.container-login {
    background: url(../../../assets/background.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.container-img {
    background: url(../../../assets/acme.png);
    height: 53px;
    width: 91px;
}
.container-content {
    margin: 3rem auto 0 auto;
    position: relative;
    width: 40rem;
}
.container-content h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    line-height: 4.4rem;
    margin-top: 3rem;
}
.container-content h4 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3rem;
}
.container-content button {
    background-color: transparent;
    border: 0.2rem solid #fff;
    margin-top: 1.5rem;
}
@media screen and (max-width: 1024px) {
    .container-login {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .container-img {
        background: url(../../../assets/acme@2x.png);
        height: 106px;
        width: 182px;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 70% !important;
    }
}
@media screen and (max-width: 500px) {
    .container-content {
        margin: 0 auto;
    }
    .container-img {
        background: url(../../../assets/acme@3x.png);
        height: 159px;
        margin: 0 auto;
        width: 273px;
    }
    .container-content button {
        left: 50%;
        position: absolute;
        transform: translate(-50%);
    }
}
