.container-input {
    margin-bottom: 1rem;
    position: relative;
}

.container-input input,
.container-input label {
    display: block;
}

.container-input label {
    color: #a8a8a8;
    font-size: 12px;
    line-height: 15px;
    margin: 2.2rem 0 1rem 0;
}

.container-input input {
    border: none;
    border-bottom: 0.1rem solid #a8a8a8;
    color: #757575;
    padding-bottom: 1rem;
    width: 100%;
}

.container-input input:focus {
    border-bottom: 0.1rem solid #4a90e2;
    outline: none;
}

.container-input label:focus-within {
    color: #4a90e2;
}

.focus {
    color: #4a90e2 !important;
    margin-bottom: 3px !important;
}

.invalid {
    color: red !important;
}

.invalid input {
    border-bottom: 0.1rem solid red !important;
}

.container-remember {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: start;
}

.container-remember label {
    color: #a1a1a1;
    font-size: 14px;
    line-height: 17px;
}

.container-remember input[type="checkbox"] {
    display: none;
}

.container-remember input[type="checkbox"]:checked + .checkbox::after {
    transform: scale(1);
}

.checkbox {
    width: 0.8em;
    height: 0.8em;
    border: 0.1rem solid #a8a8a8;
    border-radius: 50%;
}

.checkbox::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #4a90e2;
    border-radius: 50%;
    transform: scale(0);
}

.password-features {
    bottom: 0;
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 0;
}

.container-faeye {
    align-self: center;
}

.container-btn {
    margin-top: 3rem;
    display: flex;
    justify-content: end;
}

.btn {
    background-color: #4a90e2;
}

.inactive {
    opacity: 0;
}

.active {
    opacity: 100;
}
