.dots {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dot {
    background-color: transparent;
    border-radius: 50%;
    height: 0.45rem;
    margin-bottom: 0.35rem;
    width: 0.45rem;
}

.dot:last-child {
    margin-bottom: 1rem;
}
