.dots {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dot {
    background-color: transparent;
    border-radius: 50%;
    height: 4.5px;
    margin-bottom: 3.5px;
    width: 4.5px;
}

.dot:last-child {
    margin-bottom: 10px;
}
