.container-layout {
    background-color: #f7f7f7;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    margin: 9rem 0;
    width: 39rem;
    height: 37rem;
    padding: 5%;
}
