.container-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transform: translate(0, 25%);
    width: 120rem;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 57%;
    }

    .container-page {
        width: 100vw;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 75%;
    }

    .container-page {
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 100vh);
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 60%;
    }
    .container-page {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 100vh);
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 70% !important;
    }
}
